body {
    font-family: Helvetica, Arial, sans-serif;
} 

/* =============== 
   General layout 
  ================ */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

header,
nav {
    display: flex;
    flex-direction: row;
}

header {
    grid-area: header;
    justify-content: space-between;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
    margin:auto;
}



/*================== 
        Style 
 ===================*/

header svg, 
nav svg {
    fill: white;
}

a {
    color: #7477BF;
    text-decoration: none;
}

 /* --- header --- */

header {
    background-color: #7477BF;
    padding: 10px 20px;
 }

header h1, 
header h3 {
    color: white;
}

 .current-user {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

.notif-icon {
    width: 40px;
    margin: 1em auto;
}

/* shake animation from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.notif-icon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#notifications {
    background-color: lime;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-self: flex-start;
}

.profile-pic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    max-width: 100px;
    margin-left: 20px;
}

header h3 {
    margin-left: 10px;
}

/* --- nav bar --- */

 nav {
    background-color: rgb(71, 73, 104);
    padding: 10px 0;
    justify-content: center;
 }

 .navbar {
     width: 70%;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

.nav-icon {
    width: 15%;
    max-width: 40px;
    margin: 10px auto;
}

/* --- main --- */

section {
    padding: 20px 20px;
}

section:not(:last-child) {
    border-bottom: solid 1px rgb(173, 173, 173);
}

 main {
    background-color: white;
    padding: 0 0 20px;
 }

/* Dashboard */

.main-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.headline {
    padding: 0 20px;
}

.main-header-gray {
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-left: solid 1px gray;
    border-bottom: solid 1px gray;
}

 /* alert banner */
 .alert-banner {
     display: flex;
     flex-direction: row;
     background-color: #7477BF;
     border-radius: 7px;
     padding: 10px 20px;
     justify-content: space-between;
     margin: 0 20px;
 }

 .alert-banner p {
    font-size: 1.2rem;
    color: white;
    margin: 0;
 }

 /* traffic list items */

 ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 50px;
    transition: background-color .2s, color .1s;
}

li:hover {
    background-color: rgb(118, 202, 118);
    color: white;
    cursor: pointer;
}

/* social stats */

.social-widgets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social-container {
    background-color: rgb(241, 241, 241);
    border: solid 1px gray;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}

.social-image {
    background-color: #7477BF;
    border-radius: 50%;
    padding: 20px;
}

.social-image svg {
    fill: white;
    width: 60px;
}
.social-text {
    margin-left: 20px;
}

.social-text p:first-child {
    color: #7477BF;
    font-size: 2em;
    margin: 0;
}

.social-text p:last-child {
    color: gray;
    font-size: 4em;
    margin: 0;
}

/* new members / recent activity */

.members-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.members-container:not(:last-child) {
    border-bottom: solid 1px rgb(173, 173, 173);
}

.profile-image {
    width: 100px;
    border-radius: 50%;
    margin: 5px auto;
}

.members-text,
.timestamp
 {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
}

.members-container p {
    margin: 0;
}

.right-arrow {
    display: none;
}

/* message user */

.widget-container {
    display: flex;
    flex-direction: column;
}

#userField,
#messageField,
#send {
    padding: 15px;
    border-radius: 10px;
    border: solid 1px rgb(173, 173, 173);
}

#userField,
#messageField {
    background-color: rgb(241, 241, 241);
}

#userField::placeholder,
#messageField::placeholder {
    color: rgb(173, 173, 173);
}

#messageField {
    margin: 20px 0;
}

#send {
    background-color: #7477BF;
    color: white;
}

/* settings */

#settings {
    display: flex;
    flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px 0;
  }

  .switch .label-text {
      display: inline-block;
      width: 300px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 20em;
    right: -22em;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7477BF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7477BF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
  }
  
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #timezone {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: rgb(173, 173, 173);
    border: solid 2px rgb(173, 173, 173);
    margin: 20px 0;
  }

  option:not(:first-of-type) {
    color: black;
  }

  /* settings button */

  .settings-button {
      display: inline-flex;
      gap: 20px;
  }

  #save, 
  #cancel {
    flex-grow: 1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border-style: none;
  }

  #save {
      background-color: #7477BF;
  }

  #cancel {
      background-color: rgb(155, 155, 155);
  }


/*================== 
   Media Queries 
 ===================*/


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 70px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    main {
        grid-template-columns: 50%;
    }

    .main-header,
    #alert,
    #traffic, 
    #social, 
    #members,
    #recent-activity,
    #message, 
    #settings {
        grid-column: 1 / span 2;
    }

    #daily {
        grid-column: 1 / span 1;
    }

    #mobile {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
    
    /* ---header--- */
    

    /* ---nav--- */

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 20px;
    }
    .nav-icon {
        width: 100%;
    }

    /* ---traffic section */

    .traffic-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .traffic-nav {
        width: 400px;
    }

    /* tablet view mobile chart border */
    #mobile {
        border-left: solid 1px rgb(173, 173, 173);
    }

    /* ---social stats--- */

    .social-widgets {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .social-container:nth-child(2) {
        margin-left:  10px;
        margin-right: 10px;
    }

    .social-image {
        padding: 20px;
    }

    .social-image svg {
        width: 40px;
    }
    .social-text {
        margin-left: 20px;
    }

    .social-text p:first-child {
        font-size: 1.25em;
    }

    .social-text p:last-child {
        font-size: 2.5em;
    }

    /* --- members / recent activity --- */

    .members-container {
        flex-direction: row;
        align-items: center;
    }

    .profile-image {
        margin: 0 20px 0 0;
        width: 70px;
    }

    .members-text {
        text-align: left;
        font-size: 1.2em;
    }

    .timestamp,
    .right-arrow {
        align-self: center;
        flex-grow: 1;
        text-align: right;
        font-size: 1.2em;
    }

    .right-arrow {
        display: inline;
        font-size: 1.5em;
        color: #7477BF;
    }

    

}



@media (min-width: 1024px) {

    #members,
    #message 
    {
        grid-column: 1 / span 1;
    }

    #recent-activity,
    #settings {
        grid-column: 2 / span 1;
    }

    /* ---social stats--- */

    .social-container:nth-child(2) {
        margin-left:  20px;
        margin-right: 20px;
    }

    /* --- members text --- */
    .members-text,
    .timestamp {
        font-size: 1em;
    }

    /* section split border */
    #recent-activity,
    #settings {
        border-left: solid 1px rgb(173, 173, 173);
    }

    /* message */
    #message {
        border-bottom: none;
    }

}